.load-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(255,165,0);
}

.load-instruction {
  max-width: 350px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 50px;
}

.orange-logo {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100px;
  width: 350px;
}

.create-button {
  font-size: x-large;
  font-weight: bolder;
  height: 55px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255,23,24);
  border-radius: 5%;
  padding: 10px 10px 20px 10px;
  background: ghostwhite;
  color: black;
  text-align: center;
}

.create-button:hover {
  color: rgb(255,165,0);
  box-shadow: 5px 5px 5px 5px rgba(255, 23, 23, 0.505);
}

.new-quote-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(255,165,0);
  font-size: large;
}

.new-instructions {
  width: 350px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.new-foxy-quote {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 650px;
  border-radius: 8%;
  padding: 10px;
  border-color: rgb(255,23,24);
  border-style: solid;
  margin: 15px;
  background: ghostwhite;
}

.new-fox-image {
  align-self: center;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  border-radius: 10%;
}

.fox-quote {
  max-width: 350px;
  height: 150px;
}

.quote {
  overflow-y: scroll;
}

.fox-author {
  display: flex;
  flex: row;
  height: 60px;
}

.label {
  margin: 18px 0px;
}

p {
  margin-left: 10px;
}

.button-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 250px;
}

button {
  align-self: center;
  height: 40px;
  font-size: large;
  border-radius: 5%;
  border-width: 4px;
}

.save-button {
  margin-bottom: 20px;
  font-size: large;
  font-weight: bolder;
  border-style: solid;
  border-color:  rgb(255,23,24);
  border-radius: 5%;
  background: rgb(255,165,0);
  color: black;
  text-align: center;
}

.save-button:hover {
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgba(255, 23, 23, 0.505);
}

.create-more-button {
  font-size: large;
  font-weight: bolder;
  border-style: solid;
  border-color:  rgb(255,23,24);
  border-radius: 5%;
  background: rgb(255,165,0);
  color: black;
  text-align: center;
}

.create-more-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px 5px rgba(255, 23, 23, 0.505);
}

