.navi-bar {
  display: flex;
  flex-direction: row;
  background: ghostwhite;
  min-height: 70px;
  max-height: 120px;
  width: 100vw;
  border-bottom-style: solid;
  border-bottom-color: rgb(170, 21, 51);
}

.saved-link {
  font-size: x-large;
  font-weight: bolder;
  width: 150px;
  margin: 20px 20px 10px 5px;
  border-style: solid;
  border-color:  rgb(170, 21, 51);
  border-radius: 5%;
  background: orange;
  color: black;
  text-decoration: none;
  text-align: center;
}

.saved-link:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px 5px rgba(239, 51, 41, 0.546);
}

.creation-link {
  font-size: x-large;
  font-weight: bolder;
  width: 150px;
  margin: 20px 20px 10px 10px;
  border-style: solid;
  border-color:  rgb(170, 21, 51);
  border-radius: 5%;
  background: orange;
  color: black;
  text-decoration: none;
  text-align: center;
}

.creation-link:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px 5px rgba(239, 51, 41, 0.546);
}

.logo {
  max-height: 60px;
  min-width: 90px;
  flex: flex-end;
  align-self: center;
  justify-self: flex-end;
}