.no-quotes-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(237, 168, 17);
}

.no-quotes-orange-logo {
  margin-top: 50px;
  height: 100px;
  width: 350px;
}

.no-quotes-header {
  width: 250px;
  height: 70px;
  margin-top: 35px;
  padding-top: 10px;
  text-align: center;
  text-justify: center;
  font-size: x-large;
  background: ghostwhite;
  border-color: rgb(170, 21, 51);
  border-style: solid;
  border-width: 4px;
  border-radius: 5%;
}

.saved-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(237, 168, 17);
  font-size: large;
}

.saved-foxy-quote {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border-radius: 7%;
  padding: 10px;
  background: ghostwhite;
  border-color: rgb(170, 21, 51);
  border-style: solid;
  margin: 15px;
}

.saved-fox-image {
  align-self: center;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  border-radius: 10%;
}

.fox-quote {
  display: flex;
  flex: row;
  max-width: 350px;
  height: 150px;
}

.quote {
  overflow-y: scroll;
}

.fox-author {
  display: flex;
  flex: row;
  height: 60px;
}

label {
  margin: 18px 0px;
  font-weight: bolder;
}

p {
  margin-left: 10px;
}

.delete-button {
  font-size: large;
  font-weight: bolder;
  border-style: solid;
  border-color:  rgb(170, 21, 51);
  background: rgb(237, 168, 17);
  border-radius: 5%;
  color: black;
  text-align: center;
  margin: 10px 0px;
}

.delete-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px 5px rgba(239, 51, 41, 0.546);
}

