.not-found-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: rgb(237, 168, 17);
}

.lost-logo {
  margin-top: 50px;
  height: 100px;
  width: 350px;
}
.lost-message-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 550px;
}
.lost-p-one {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.lost-image {
  align-self: center;
  width: 350px;
}

.lost-link {
  font-size: x-large;
  font-weight: bolder;
  align-self: center;
  width: 300px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-color:  rgb(255,23,24);
  border-radius: 5%;
  background: ghostwhite;
  color: black;
  text-align: center;
  text-decoration: none;
}

.lost-link:hover {
  color: rgb(241, 140, 7);
  box-shadow: 5px 5px 5px 5px rgba(255, 23, 23, 0.505);
}